@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: "Pally";
  src: url("/fonts/Pally-Regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-display: swap;
}

@font-face {
  font-family: "Pally";
  src: url("/fonts/Pally-Medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-display: swap;
}

@font-face {
  font-family: "Pally";
  src: url("/fonts/Pally-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-display: swap;
}

:root {
  color-scheme: light dark;

  --bg-primary: #d7d7d9;
  --text-primary: #0e0e0e;
}

[data-theme="dark"] {
  --bg-primary: #0e0e0e
  --text-primary: #d7d7d9;
}

[data-theme="light"] {
  --bg-primary: #d7d7d9;
  --text-primary: #0e0e0e
}

html {
  font-family: "Pally", sans-serif;
  line-height: 1.5;
}

body {
  margin: 10px;
}