@import "tailwindcss";
@plugin "daisyui";
@plugin "@midudev/tailwind-animations";

@theme {
  --spacing-icon: 20px;
  --spacing-input-icon: 16px;
  --color-input-error: oklch(71% 0.194 13.428);
}

/* Fonts */
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Regular.woff2") format("woff2");
  font-weight: 400;
  /* Regular */
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Medium.woff2") format("woff2");
  font-weight: 500;
  /* Medium */
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Bold.woff2") format("woff2");
  font-weight: 700;
  /* Bold */
  font-display: swap;
}

:root {
  color-scheme: light dark;

  --bg-primary: linear-gradient(to bottom right, #ecedec, #cdd0cf);
  --text-primary: #ffffff;
}

[data-theme="dark"] {
  --bg-primary: linear-gradient(to bottom right, #2a2b2a, #1a1d1b);
  --text-primary: #ffffff;
}

[data-theme="light"] {
  --bg-primary: linear-gradient(to bottom right, #ecedec, #cdd0cf);
  --text-primary: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #252b30;
    --text-primary: #ffffff;
  }
}

html {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;

  background: var(--bg-primary);
  color: var(--text-primary);
}

body {
  margin: 10px;
}